In [24]:
import pandas as pd

In [25]:
ds=pd.read_excel(r"C:\Users\SAI SNEHA\Documents\B191333\Trainity\Python\Codsoft\advertising.xlsx")
ds

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [26]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [27]:
ds.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [28]:
x=ds.drop('Sales',axis='columns')
x

        TV  Radio  Newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [29]:
y= ds.Sales
y

0      22.1
1      10.4
2      12.0
3      16.5
4      17.9
       ...
195     7.6
196    14.0
197    14.8
198    25.5
199    18.4
Name: Sales, Length: 200, dtype: float64

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [31]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((160, 3), (40, 3), (160,), (40,))

In [32]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()

In [33]:
model.fit(x_train,y_train)

LinearRegression()

In [34]:
y_pred=model.predict(x_test)
y_pred

array([ 8.36918889,  7.43291442, 11.81796892,  7.79229179,  9.6951434 ,
       18.78682879,  9.76625109, 15.4151893 , 19.15329257, 16.88569805,
       21.11393504, 12.43650671, 12.21270201, 11.85803467,  9.20199247,
       16.89873351, 22.31743992, 16.97758662,  9.26097649,  8.56731526,
       19.30293903, 18.81903289, 11.58498185, 21.64009812, 16.61363847,
        8.68401667,  6.80093818, 17.22528845, 11.53618325, 21.63933888,
       12.64393367, 18.56488332, 12.48075041, 13.19225788, 18.13403258,
       15.09284561, 10.32996403, 21.23729648, 13.17713253,  9.70308723])

In [35]:
model.score(x_test,y_test)

0.8127741256942608

In [36]:
from sklearn.metrics import mean_squared_error, r2_score

In [37]:
mse=mean_squared_error(y_pred,y_test)
rs=r2_score(y_test,y_pred)

In [38]:
mse,rs

(3.8367718655172234, 0.8127741256942608)